$stacking-context--mask: 1;
$stacking-context--mask-image: $stacking-context--mask + 1;
$width--image: 200px;
$opacity: 0.5;

body {
   font: 1.2rem sans-serif;
   color: #332A40;
   width: 720px;
   margin: 0 auto;
}

h1 {
   text-align: center;
}

main {
   position: relative;
}

a {
   display: block;

   img {
      float: left;
      width: $width--image;
      height: $width--image;
      margin: 20px;
      border-radius: 50%;
      box-shadow: 10px 10px 12px rgba(0,0,0,0.5);
      transition: ease-out 250ms;
      opacity: $opacity;

      &:hover {
         box-shadow: 10px 10px 12px black;
         opacity: 2 * $opacity;
      }
   }
}

#mask {
   position: fixed;
   top: 0;
   left: 0;
   z-index: $stacking-context--mask;
   display: none;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   background-color: rgba(100,100,100,0.7);
}

#mask-image {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: $stacking-context--mask-image;
   display: none;
   border-radius: 2%;
   margin: -300px 0 0 -300px;
   background-color: transparent;
   transition: 1s;
}
